// used for colour adjustments
$amount: 10;

// brand colours
$color-black: #1c1f22;
$color-lime: #bedb39;
$color-orange: #ff9800;
$color-red: #e84925;
$color-blue: #4682b4;

// shades of brand colours
$color-lime-dark: darken($color-lime, $amount);
$color-lime-light: lighten($color-lime, $amount);
$color-orange-dark: darken($color-orange, $amount);
$color-orange-light: lighten($color-orange, $amount);
$color-red-dark: darken($color-red, $amount);
$color-red-light: lighten($color-red, $amount);
$color-blue-dark: darken($color-blue, $amount);
$color-blue-light: lighten($color-blue, $amount);

// shades of grey
$color-white: #fff;
$color-grey-light: #ededed;
$color-grey-mid: #808080;
$color-grey-dark: #333;

// other colours
$color-error: #d9534f;
$color-notice: #00bfff;
$color-success: #5cb85c;

// shades of other colours
$color-error-dark: darken($color-error, $amount);
$color-error-light: lighten($color-error, $amount);
$color-notice-dark: darken($color-notice, $amount);
$color-notice-light: lighten($color-notice, $amount);
$color-success-dark: darken($color-success, $amount);
$color-success-light: lighten($color-success, $amount);

// baseline background color
$grid-background-baseline-color: rgba(232, 73, 37, 0.5);
