// used for colour adjustments
$color-shade-amount: 10;

// brand colours
$color-brand-black: #1c1f22;
$color-brand-lime: #bedb39;
$color-brand-orange: #ff9800;
$color-brand-red: #e84925;
$color-brand-blue: #4682b4;

// shades of brand colours
$color-brand-lime-dark: darken($color-brand-lime, $color-shade-amount);
$color-brand-lime-light: lighten($color-brand-lime, $color-shade-amount);
$color-brand-orange-dark: darken($color-brand-orange, $color-shade-amount);
$color-brand-orange-light: lighten($color-brand-orange, $color-shade-amount);
$color-brand-red-dark: darken($color-brand-red, $color-shade-amount);
$color-brand-red-light: lighten($color-brand-red, $color-shade-amount);
$color-brand-blue-dark: darken($color-brand-blue, $color-shade-amount);
$color-brand-blue-light: lighten($color-brand-blue, $color-shade-amount);

// shades of grey
$color-white: #fff;
$color-grey-light: #ededed;
$color-grey-mid: #808080;
$color-grey-dark: #333;

// other colours
$color-error: #d9534f;
$color-notice: #00bfff;
$color-success: #5cb85c;

// shades of other colours
$color-error-dark: darken($color-error, $color-shade-amount);
$color-error-light: lighten($color-error, $color-shade-amount);
$color-notice-dark: darken($color-notice, $color-shade-amount);
$color-notice-light: lighten($color-notice, $color-shade-amount);
$color-success-dark: darken($color-success, $color-shade-amount);
$color-success-light: lighten($color-success, $color-shade-amount);

// baseline background color
$grid-background-baseline-color: rgba(232, 73, 37, 0.5);
