// base initialisation map for gravy
$gravy: (
  base: (
    font-size: 16px,
    line-height: 1.4
  ),
  modularscale-ratio: 1.2, // Major Thirds
  breakpoints: (
    small: 600px,
    large: 1200px
  ),
  typefaces: (
    primary: (
      stack: ('Arial', sans-serif),
      weights: (
        regular: 'regular',
        bold: 'bold'
      )
    )
  )
);
