// modular scale

$modularscale: (
  base: $base-font-size,
  ratio: 1.2 // Major Thirds
);

// font sizes, 1 being the largest. see typi config below

$font-1-size: ms(7);
$font-2-size: ms(6);
$font-3-size: ms(5);
$font-4-size: ms(4);
$font-5-size: ms(3);
$font-6-size: ms(2);
$font-7-size: ms(1);
$font-8-size: $base-font-size;
$font-9-size: ms(-1);
