// modular scale
$modularscale-ratio: 1.2 !default; // Major Thirds

$modularscale: (
  base: $base-font-size,
  ratio: $modularscale-ratio
);

// font sizes, 1 being the largest. see typi config too
$font-1-size: ms(7) !default;
$font-2-size: ms(6) !default;
$font-3-size: ms(5) !default;
$font-4-size: ms(4) !default;
$font-5-size: ms(3) !default;
$font-6-size: ms(2) !default;
$font-7-size: ms(1) !default;
$font-8-size: ms(0) !default; // base font-size
$font-9-size: ms(-1) !default;
$font-10-size: ms(-2) !default;
