// typography
// add something like the following to have things working as expected
// @import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Mono|Roboto+Slab|Roboto:400,500');

// Primary font face
$primary-font-stack: ('Roboto', sans-serif) !default;
$primary-font-weights: (
  regular: 400,
  bold: 500
) !default;

// Secondary font face
$secondary-font-stack: ('Roboto Slab', serif) !default;
$secondary-font-weights: (
  regular: 400
) !default;

// Heading font face
$heading-font-stack: ('Cabin', sans-serif) !default;
$heading-font-weights: (
  regular: 400
) !default;

// Monospace font face
$monospace-font-stack: ('Roboto Mono', monospace) !default;
$monospace-font-weights: (
  regular: 400
) !default;

// This is an interal variable used by typi, for more information
// @see https://github.com/zellwk/typi/blob/master/scss/_typi.scss#L24
$typefaces: (
  primary: (
    font-size-ratio: 1,
    stack: $primary-font-stack,
    weights: $primary-font-weights
  ),
  secondary: (
    font-size-ratio: 1,
    stack: $secondary-font-stack,
    weights: $secondary-font-weights
  ),
  heading: (
    font-size-ratio: 1,
    stack: $heading-font-stack,
    weights: $heading-font-weights
  ),
  monospace: (
    font-size-ratio: 1,
    stack: $monospace-font-stack,
    weights: $monospace-font-weights
  )
);
