// typography
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Slab:400,700|Roboto:400,400i,500,500i|Menlo');

// for more information
// @see https://github.com/zellwk/typi/blob/master/scss/_typi.scss#L24
$typefaces: (
  primary: (
    font-size-ratio: 1,
    stack: ('Roboto', Arial, sans-serif),
    weights: (
      light: 300,
      regular: 400,
      bold: 500
    )
  ),
  secondary: (
    font-size-ratio: 1,
    stack: ('Roboto Slab', serif),
    weights: (
      regular: 400,
      bold: 700
    )
  ),
  heading: (
    font-size-ratio: 1,
    stack: ('Cabin', Arial, sans-serif),
    weights: (
      regular: 500
    ),
  ),
  monospace: (
    font-size-ratio: 1,
    stack: ('Menlo', monospace),
    weights: (
      regular: 400
    )
  )
);
