/*
 * This is the main file for the whole project.
 * It follows ITCSS-like structure, so be sure to know what you're doing
 * No style definitions should be made here, only `@import`
 */

/*
 * Third Party Tools
 */
@import 'modularscale';
@import 'typi';

/*
 * Mixins and functions
 */
@import 'functions/breakpoint';
@import 'mixins/font';

/*
 * Settings: Global variables, config switches
 */
@import 'settings/variables';
@import 'settings/breakpoints';
@import 'settings/modularscale';
@import 'settings/typi';
@import 'settings/typefaces';
@import 'settings/colours';

/*
 * Generic: Ground-zero styles (normalize, reset, box-sizing)
 */
@import 'normalize';

/*
 * Base: Unclassed HTML elements (type selectors)
 */
@import 'base/text';
@import 'base/headings';

/*
 * Objects: Cosmetic-free design patterns
 */

/*
 * Components: Designed components, chunks of UI
 */

/*
 * Trumps: Helpers and overrides
 */
@import 'helpers/text';
