/// if called this will output some sensible defaults.
///
@mixin gravy-text-defaults() {
  body {
    @include gravy-font('primary');
    margin: 0;
  }

  * {
    box-sizing: border-box;
    font-kerning: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  html {
    -webkit-text-size-adjust: 100%; // stylelint-disable property-no-vendor-prefix
  }

  *:focus {
    outline-style: auto;
  }

  blockquote {
    // @include font('secondary');
    // @include typi('text-big');
    position: relative;

    &::before {
      content: '“';
      // font-size: $font-1-size;
      left: -0.5em;
      position: absolute;
    }
  }

  ul {
    list-style-type: circle;

    > ul {
      list-style-type: disc;
    }
  }

  big {
    // @include typi('text-big');
  }

  figcaption {
    // @include typi('text-small');
    font-style: italic;
    text-align: center;
  }

  small {
    // @include typi('text-small');
  }

  cite {
    font-style: normal;
    font-weight: bold;
  }

  q {
    // @include font('secondary');
    font-style: italic;
  }

  pre,
  code {
    // @include font('monospace');
  }

}
