h1,
h2,
h3,
h4,
h5,
h6,
.title-main,
.title,
.title-small
.subtitle-main,
.subtitle,
.subtitle-small {
  @include font('heading');
}

h1,
.title-main {
  @include typi('alpha');
  margin-bottom: vr(2);
  margin-top: vr(1);
}

h2,
.subtitle-main {
  @include typi('beta');
  margin-bottom: vr(1);
  margin-top: vr(1);
}

h3,
.title {
  @include typi('gamma');
  margin-bottom: vr(2);
  margin-top: vr(1);
}

h4,
.subtitle {
  @include typi('delta');
}

h5,
.title-small {
  @include typi('eta');
  font-weight: bold;
}

h6,
.subtitle-small {
  @include typi('text-big');
  font-style: italic;
}

// void margins if headings are inside a header tag
header > h1,
header > h2,
header > h3,
header > .title-main,
header > .title,
header > .title-small,
header > .subtitle-main,
header > .subtitle,
header > .subtitle-small {
  margin-bottom: 0;
  margin-top: 0;
}
