@include typi-init;

body {
  @include font('primary');
}

p {
  margin-bottom: vr(1);
  margin-top: vr(1);
  max-width: $text-max-width;
}

*:focus {
  outline-color: $color-brand-blue;
  outline-style: auto;
}

blockquote {
  @include font('secondary');
  @include typi('text-big');
  position: relative;

  &::before {
    content: '“';
    font-size: $font-1-size;
    left: -0.5em;
    position: absolute;
  }
}

ul,
ol {
  margin-bottom: vr(2);
  margin-top: vr(1);
  padding-left: 1em;

  > li {
    margin-bottom: vr(0.5);
  }

  ul,
  ol {
    margin-bottom: vr(1);
  }
}

ul {
  list-style-type: circle;

  > ul > li {
    list-style-type: disc;
  }
}

big {
  @include typi('text-big');
}

figcaption {
  @include typi('text-small');
  color: $color-grey-mid;
  font-style: italic;
  text-align: center;
}

small {
  @include typi('text-small');
}

a {
  border-bottom: 1px solid $color-grey-light;
  color: $color-brand-blue;
  text-decoration: none;

  &:hover {
    border-bottom-color: $color-brand-blue;
    color: $color-brand-blue-dark;
  }

  &:visited {
    border-bottom-color: $color-brand-blue-light;
    color: $color-brand-blue-light;
  }
}

cite {
  font-style: normal;
  font-weight: bold;
}

q {
  @include font('secondary');
  font-style: italic;
}

article {
  margin: 0 auto vr(2) auto;
  max-width: $text-max-width;
}

header {
  margin: vr(1) 0 vr(1) 0;
}

article > header {
  margin-bottom: vr(2);
  margin-top: 0;
}

// display a separator on consecutive sections
section + section::before {
  content: '...';
  display: block;
  font-weight: bold;
  letter-spacing: 0.6em;
  text-align: center;
}

pre,
code {
  @include font('monospace');
}
