@include typi-init;

body {
  @include font('primary');
}

p {
  margin-bottom: vr(1);
  margin-top: vr(1);
  max-width: $text-max-width;
}

blockquote {
  @include font('heading');
  font-size: $font-6-size;
  font-style: italic;

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

ul,
ol {
  margin-bottom: vr(2);
  margin-top: vr(1);

  > li {
    margin-bottom: vr(0.5);
  }
}

small {
  font-size: $font-9-size;
}

a {
  color: $color-blue;

  &:hover {
    color: $color-blue-dark;
  }

  &:visited {
    color: $color-blue-light;
  }
}

article {
  margin: 0 auto vr(2) auto;
  max-width: $text-max-width;
}

header {
  margin: vr(1) 0 vr(1) 0;
}

article > header {
  margin-bottom: vr(2);
  margin-top: 0;
}

// display a separator on consecutive sections
section + section::before {
  content: '...';
  display: block;
  font-weight: bold;
  letter-spacing: 0.6em;
  text-align: center;
}

pre,
code {
  @include font('monospace');
}
