@include typi-init;

body {
  @include font('body');
}

p {
  margin-top: vr(1);
  margin-bottom: vr(1);
  max-width: $text-max-width;
}

blockquote {
  @include font('heading');

  font-size: $font-6-size;
  font-style: italic;

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

ul,
ol {
  margin-top: vr(1);
  margin-bottom: vr(2);

  > li {
    margin-bottom: vr(.5);
  }
}

small {
  font-size: $font-9-size;
}

a {
  color: $color-blue;

  &:hover {
    color: $color-blue-dark;
  }

  &:visited {
    color: $color-blue-light;
  }
}

article {
  max-width: $text-max-width;
  margin: 0 auto vr(2) auto;
}

header {
  margin: vr(1) 0 vr(1) 0;
}

article > header {
  margin-top: 0;
  margin-bottom: vr(2);
}

// display a separator on consecutive sections
section + section::before {
  content: "...";
  display: block;
  letter-spacing: .6em;
  font-weight: bold;
  text-align: center;
}
