@mixin gravy-init() {
  // base keys
  @if not map-has-key($gravy, 'base-font-size') {
    $gravy: map-merge($gravy, ('base-font-size': map-get($gravy-defaults, 'base-font-size')));
  }
  @if not map-has-key($gravy, 'base-line-height') {
    $gravy: map-merge($gravy, ('base-line-height': map-get($gravy-defaults, 'base-line-height')));
  }

  // create some global variables for ease-of-use
  @if not global-variable-exists('base-font-size') {
    $base-font-size: map-get($gravy, 'base-font-size') !global;
  }
  @if not global-variable-exists('base-line-height') {
    $base-line-height: map-get($gravy, 'base-line-height') !global;
  }

  // typefaces
  @if map-has-key($gravy, 'typefaces') {
    $typefaces: map-get($gravy, 'typefaces') !global;
  }
  @else {
    // initialise with $gravy-defaults variables
    $typefaces: map-get($gravy-defaults, 'typeface') !global;
  }

  // breakpoints
  @if map-has-key($gravy, 'breakpoints') {
    $breakpoints: map-get($gravy, 'breakpoints') !global;
  }
  @else {
    $breakpoints: map-get($gravy-defaults, 'breakpoints') !global;
  }

  // typi
  @if map-has-key($gravy, 'typi') {
    $typi: map-get($gravy, 'typi') !global;
  }
  @else {
    $typi: map-get($gravy-defaults, 'typi') !global;
  }

  @include typi-init;
}
