/// Initialises Gravy, mostly creating variables off the configuration map `$gravy`.
@mixin gravy-init() {
  // typefaces
  @if map-has-key($gravy, 'typefaces') {
    $typefaces: map-get($gravy, 'typefaces') !global;
  }

  // breakpoints
  @if map-has-key($gravy, 'breakpoints') {
    $breakpoints: map-get($gravy, 'breakpoints') !global;
  }

  // typi
  // create $typi global map for Typi to work
  @if map-has-key($gravy, 'typi') {
    $typi: map-get($gravy, 'typi') !global;

    @include typi-init; // stylelint-disable order/order
  }
}
